---
http_interactions:
- request:
    method: get
    uri: http://www.webservicex.net/globalweather.asmx?WSDL
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?>\r\n<wsdl:definitions xmlns:soap=\"http://schemas.xmlsoap.org/wsdl/soap/\"
        xmlns:tm=\"http://microsoft.com/wsdl/mime/textMatching/\" xmlns:soapenc=\"http://schemas.xmlsoap.org/soap/encoding/\"
        xmlns:mime=\"http://schemas.xmlsoap.org/wsdl/mime/\" xmlns:tns=\"http://www.webserviceX.NET\"
        xmlns:s=\"http://www.w3.org/2001/XMLSchema\" xmlns:soap12=\"http://schemas.xmlsoap.org/wsdl/soap12/\"
        xmlns:http=\"http://schemas.xmlsoap.org/wsdl/http/\" targetNamespace=\"http://www.webserviceX.NET\"
        xmlns:wsdl=\"http://schemas.xmlsoap.org/wsdl/\">\r\n  <wsdl:types>\r\n    <s:schema
        elementFormDefault=\"qualified\" targetNamespace=\"http://www.webserviceX.NET\">\r\n
        \     <s:element name=\"GetWeather\">\r\n        <s:complexType>\r\n          <s:sequence>\r\n
        \           <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"CityName\" type=\"s:string\"
        />\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\" name=\"CountryName\"
        type=\"s:string\" />\r\n          </s:sequence>\r\n        </s:complexType>\r\n
        \     </s:element>\r\n      <s:element name=\"GetWeatherResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"GetWeatherResult\" type=\"s:string\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"GetCitiesByCountry\">\r\n
        \       <s:complexType>\r\n          <s:sequence>\r\n            <s:element
        minOccurs=\"0\" maxOccurs=\"1\" name=\"CountryName\" type=\"s:string\" />\r\n
        \         </s:sequence>\r\n        </s:complexType>\r\n      </s:element>\r\n
        \     <s:element name=\"GetCitiesByCountryResponse\">\r\n        <s:complexType>\r\n
        \         <s:sequence>\r\n            <s:element minOccurs=\"0\" maxOccurs=\"1\"
        name=\"GetCitiesByCountryResult\" type=\"s:string\" />\r\n          </s:sequence>\r\n
        \       </s:complexType>\r\n      </s:element>\r\n      <s:element name=\"string\"
        nillable=\"true\" type=\"s:string\" />\r\n    </s:schema>\r\n  </wsdl:types>\r\n
        \ <wsdl:message name=\"GetWeatherSoapIn\">\r\n    <wsdl:part name=\"parameters\"
        element=\"tns:GetWeather\" />\r\n  </wsdl:message>\r\n  <wsdl:message name=\"GetWeatherSoapOut\">\r\n
        \   <wsdl:part name=\"parameters\" element=\"tns:GetWeatherResponse\" />\r\n
        \ </wsdl:message>\r\n  <wsdl:message name=\"GetCitiesByCountrySoapIn\">\r\n
        \   <wsdl:part name=\"parameters\" element=\"tns:GetCitiesByCountry\" />\r\n
        \ </wsdl:message>\r\n  <wsdl:message name=\"GetCitiesByCountrySoapOut\">\r\n
        \   <wsdl:part name=\"p[...]
- request:
    method: post
    uri: http://www.webservicex.net/globalweather.asmx
    body:
      encoding: US-ASCII
      string: <?xml version="1.0" encoding="UTF-8"?><env:Envelope xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://www.webserviceX.NET"
        xmlns:env="http://schemas.xmlsoap.org/soap/envelope/"><env:Body><tns:GetCitiesByCountry><tns:CountryName>Germany</tns:CountryName></tns:GetCitiesByCountry></env:Body></env:Envelope>
    headers:
      Soapaction:
      - ! '"http://www.webserviceX.NET/GetCitiesByCountry"'
      Content-Type:
      - text/xml;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"utf-8\"?><soap:Envelope xmlns:soap=\"http://schemas.xmlsoap.org/soap/envelope/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xmlns:xsd=\"http://www.w3.org/2001/XMLSchema\"><soap:Body><GetCitiesByCountryResponse
        xmlns=\"http://www.webserviceX.NET\"><GetCitiesByCountryResult>&lt;NewDataSet&gt;\r\n
        \ &lt;Table&gt;\r\n    &lt;Country&gt;Germany&lt;/Country&gt;\r\n    &lt;City&gt;Berlin-Schoenefeld&lt;/City&gt;\r\n
        \ &lt;/Table&gt;\r\n  &lt;Table&gt;\r\n    &lt;Country&gt;Germany&lt;/Country&gt;\r\n
        \   &lt;City&gt;Dresden-Klotzsche&lt;/City&gt;\r\n  &lt;/Table&gt;\r\n  &lt;Table&gt;\r\n
        \   &lt;Country&gt;Germany&lt;/Country&gt;\r\n    &lt;City&gt;Erfurt-Bindersleben&lt;/City&gt;\r\n
        \ &lt;/Table&gt;\r\n  &lt;Table&gt;\r\n    &l[...]
